@page
@model IndexModel
<h2>Aplikacja SimWeb</h2>
<p>Wizualizacja symulacji z wykorzystaniem programowania obiektowego w C# i Razor Pages.</p>
<p>Mapa typu @Model.MapType.</p>
<p style="margin-bottom:0; padding-bottom:20px;">Sekwencja ruchów: <b>@Model.MoveSequence</b>.</p>