@page
@model PrivacyModel
@{
    ViewData["Title"] = "Simulation";
}
<style>
.map
{
    grid-template-columns: repeat(@Model.width, 1fr);
}
.map-icon
{
    width: 100%;
    height: auto;
}
</style>
<div class="map-header">
    <button onclick="Next">⬅️</button>
    <div class="turn">Tura: @Model.Turn</div>
    <form method="previous"><button>➡️</button></form>
</div>
<div class="map-container">
    <div class="map">
        @for(int i=0; i<Model.width; i++)
        {
            for(int j=0; j<Model.height; j++)
            {
                //if(Model.simhistory.TurnLogs[Model.Turn].Symbols[new Simulator.Point(i,j)]=='O')
                //{
                <div class="map-field"><img src=@Model.Orc class="map-icon"></div>
                //}
            }
        }
    </div>
</div>