@page
@model PrivacyModel
@{
    ViewData["Title"] = "Simulation";
}
<div class="map-header">
    <form method="post" action="/Simulation?handler=Previous"><button>⬅️</button></form>
    <div class="turn">Tura</div>
    <form method="post" action="/Simulation?handler=Next"><button>➡️</button></form>
</div>
<div class="map-container">
    <div class="map">
        <div class="map-field">g</div>
        <div class="map-field">g</div>
        <div class="map-field">g</div>
        <div class="map-field">g</div>
        <div class="map-field">g</div>
        <div class="map-field">g</div>
        <div class="map-field">g</div>
        <div class="map-field">g</div>
        <div class="map-field">g</div>
        <div class="map-field">g</div>
        <div class="map-field">g</div>
        <div class="map-field">g</div>
        <div class="map-field">g</div>
        <div class="map-field">g</div>
        <div class="map-field">g</div>
        <div class="map-field">g</div>
        <div class="map-field">g</div>
        <div class="map-field">g</div>
        <div class="map-field">g</div>
        <div class="map-field">g</div>
    </div>
</div>