body
{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
}

header
{
    background-color: #211951;
    display: flex;
    align-items: center;
    color: palegoldenrod;
    padding: 16px;
    font-size: xx-large;
}

header b
{
    padding-right: 30px;
}

nav
{
    font-size: large;
    font-weight: 700;
}

nav a
{
    padding-left: 20px;
    text-decoration: none;
    color: white;
}

main
{
    padding-top: 16px;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
    color: #211951;
    background-color: #F0F3FF;
}

footer
{
    color: #F0F3FF;
    background-color: #836FFF;
    padding: 4px;
    text-align: center;
}

.map-header
{
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
}

button
{
    font-size: xx-large;
    margin-left: 20px;
    margin-right: 20px;
}

.map-container
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    width: 100%;

}

.map
{
    background-color: lightgreen;
    width: 1000px;
    display: grid;
}

.map-field
{
    border: 1px solid black;
}